main:has(.sendFileContainer) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendFileContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 30px;

    h1 {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 15px;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }

    .uploadSvg {
      background-color: #14c4db;
      border-radius: 20px;
      padding: 5px;
      margin-right: 10px;
    }
    .inputFileContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .labelImportFile {
      cursor: pointer;
    }
    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      + label {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: solid 2px #9d9d9d;
      }
    }
    // .inputfile + label {
    //   cursor: pointer;
    //   display: flex;
    //   align-items: center;
    //   margin-top: 15px;
    //   margin-bottom: 15px;
    //   padding-bottom: 15px;
    //   border-bottom: solid 2px #9d9d9d;
    // }
    .hoverForRemoveCross:hover {
      .removeFileSvg {
        border-radius: 20px;
        opacity: 1;
        cursor: pointer;
      }
    }

    .removeFileSvg {
      opacity: 0;
    }
    .titleRemoveContainer {
      justify-content: space-between;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
