.button {
  background: $mainColor;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  border-radius: 15px;
  padding-block: 10px;
  font-weight: 500;
  box-shadow: 0px 0px 3px 0px rgba(123, 123, 123, 0.75);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $accentuatedMainColor;
  }
  user-select: none;
}

.button__destructive {
  background: $destructive;
  &:hover {
    color: #fff;
    background: #222;
  }
}

.button__disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button__muted {
  background: transparent;
  box-shadow: none;
  &:hover {
    background: hsla(0, 0%, 50%, 0.1);
  }
}
