.transfersView {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 20px;
  gap: 15px;
}

.transfersView__title {
  font-size: 2rem;
  margin-block: 15px;
  font-weight: 600;
}
