.showTransferFiles {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.showTransferFiles__downloadAll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  padding-block: 20px;
  background: $accentuatedMainColor;

  &:hover {
    background: $mainColor;
  }
}
