.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: $mainColor;
  height: $headerHeight;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileButton {
  background-color: $accentuatedMainColor;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsiveHeader {
  display: none;
}
@media all and (max-width: 480px) {
  .header {
    display: none;
  }
  .responsiveHeader {
    height: 75px;
    width: 100%;
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
