main:has(.loginContainer) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 30px;

    h1 {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 15px;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.passwordLabel {
  button {
    all: unset;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $linkHoverColor;
    width: 24px;
    height: 24px;
    right: 10px;
  }
}
