@font-face {
  font-family: "Inter";
  src: local("Inter ExtraLight"), local("Inter-ExtraLight"),
    url("../fonts/Inter-ExtraLight.woff2") format("woff2"),
    url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"),
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Bold"), local("Inter-Bold"),
    url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Thin"), local("Inter-Thin"),
    url("../fonts/Inter-Thin.woff2") format("woff2"),
    url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter ExtraBold"), local("Inter-ExtraBold"),
    url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Black"), local("Inter-Black"),
    url("../fonts/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), local("Inter-SemiBold"),
    url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Light"), local("Inter-Light"),
    url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"),
    url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*:not(svg, svg *),
*::before,
*::after {
  all: unset;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img,
video {
  user-select: none;
}

a,
img,
video {
  -webkit-user-drag: none;
}

script,
style,
title {
  display: none;
}

button,
a {
  cursor: pointer;
}

button,
p {
  display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  background: $appBackground;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  overflow-x: hidden;
}

::selection {
  background: $accentuatedMainColor;
  color: #fff;
}

::-moz-selection {
  background: $accentuatedMainColor;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body:has(dialog) {
  overflow: hidden;
}

hr {
  display: block;
  width: 100%;
  flex-basis: 100%;
  height: 1px;
  background: #dddddd;
  margin-block: 10px;
}

::-webkit-calendar-picker-indicator {
  block-size: unset !important;
}

h1{
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
}

h2{
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
}

h3{
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1.2;
}

h4{
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2;
}

h5{
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.2;
}

h6{
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2;
}