/*Colors*/

$appBackground: hsl(0, 0%, 95%);
$mainColor: hsl(187, 58%, 81%);
$accentuatedMainColor: hsl(187, 83%, 47%);
$linkHoverColor: hsl(0, 0%, 28%);
$destructive: hsl(11, 100%, 65%);
$success: hsl(122, 39%, 49%);

/*Sizes*/

$footerHeight: 75px;
$headerHeight: $footerHeight;
