.link {
  color: $accentuatedMainColor;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  position: relative;
  padding-inline: 4px;
  margin-inline: -4px;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: $accentuatedMainColor;
    transition: height 0.25s cubic-bezier(0.25, 0.4, 0.55, 1.4);
    z-index: -1;
  }
  &:hover, &:focus, &:active {
    color: #fafafa;
    &::after {
      height: calc(100% + 2px);
    }
  }
}
